<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRMesc.Properties.Settings.CRMESCConnectionString"
            connectionString="Data Source=DESKTOP-NEHHM30\SQLEXPRESS;Initial Catalog=CRMESC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>