<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRMesc.Properties.Settings.CRMESCConnectionString" connectionString="Data Source=DESKTOP-NEHHM30\SQLEXPRESS;Initial Catalog=CRMESC;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="AtendeClienteServiceSoapBinding1"/>
                <binding name="AtendeClienteServiceSoapBinding2">
                    <security mode="Transport"/>
                </binding>
                <binding name="AtendeClienteServiceSoapBinding3"/>
                <binding name="AtendeClienteServiceSoapBinding4">
                    <security mode="Transport"/>
                </binding>
                <binding name="AtendeClienteServiceSoapBinding5"/>
                <binding name="AtendeClienteServiceSoapBinding6">
                    <security mode="Transport"/>
                </binding>
                <binding name="AtendeClienteServiceSoapBinding7"/>
                <binding name="AtendeClienteServiceSoapBinding8">
                    <security mode="Transport"/>
                </binding>
                <binding name="AtendeClienteServiceSoapBinding9"/>
                <binding name="AtendeClienteServiceSoapBinding10">
                    <security mode="Transport"/>
                </binding>
                <binding name="AtendeClienteServiceSoapBinding11"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="BuscaCep.AtendeCliente" name="AtendeClientePort"/>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding2" contract="BuscaCep.AtendeCliente" name="AtendeClientePort1"/>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding4" contract="WSCorreios.AtendeCliente" name="AtendeClientePort2"/>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding6" contract="ServiceReference1.AtendeCliente" name="AtendeClientePort3"/>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding8" contract="correios.AtendeCliente" name="AtendeClientePort4"/>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding10" contract="ServiceReference1.AtendeCliente" name="AtendeClientePort5"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
